<!DOCTYPE html>
<html>
<head>
  <title>Clip Sterling</title>
  <link rel="shortcut icon" href='favico.ico' >
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <style>
  @media (max-width: 600px) {
    div#container {
      width: 640px;
      height: 1000px;
    }
    h1{
      font-size: 18px;
    }
    h3#statement {
      font-size: 14px;
    }
    div#contact {
      width: 100%;
    }
    div#shirt {
      width: 260px;
    }
  }
</style>
</head>
<body>

<%= yield %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
